<div class="photo-cta">
  <img src="/img/cta-images/join_our_team.png" class="photo-cta-container"/>
  <div class="cta-button"><a href="https://www.thebirdsonggroup.com/join">Apply Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/careers.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="http://betsybirdsong.exprealty.careers/">Find Out More   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/newsletter.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/sign-up">Sign Up Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>
